
<launch>
    <arg name="robot_name"                        default="locobot"/>
    <arg name="rviz"                              default="false"/>
    <arg name="rtabmap_viz"                       default="false"/>
    <arg name="database_path"                     default="~/.ros/rtabmap_nsh_4th.db"/>
    <arg name="localization"                      default="true"/>
    <arg name="delete_db_on_start"                default="true" />
    <arg name="use_sim_time"                      default="false"/>
    <param if="$(arg use_sim_time)" name="use_sim_time" value="true"/>

    <arg name="rtabmap_args"                      default=""/>
    <arg name="rtabmapviz_args"                   default=""/>
    <arg name="frame_id"                          default="camera_link"/>
    <arg name="rviz_cfg"                          default="$(find rtabmap_launch)/launch/config/rgbd.rviz" />
    <arg name="tag_topic"                         default="/tag_detections" />       <!-- apriltags async subscription -->
    <arg name="tag_linear_variance"               default="0.0001" />
    <arg name="tag_angular_variance"              default="9999" />                  <!-- >=9999 means ignore rotation in optimization, when rotation estimation of the tag is not reliable -->
    <arg name="fiducial_topic"                    default="/fiducial_transforms" />  <!-- aruco_detect async subscription, use tag_linear_variance and tag_angular_variance to set covriance -->

    <!-- TF FRAMES -->
    <!-- First translate from the world and come to map frame -->
    <!-- Then Do the rotation along z axis for -90 degrees -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map"
          args="-6.18 4.45 0.0 0.0 0.0 -0.7071068 0.7071068 /world /map 100" />
      
    <arg name="rtabmap_custom_args" default="$(arg rtabmap_args)
                                            --Optimizer/Strategy 1 
                                            --Optimizer/PriorsIgnored false 
                                            --RGBD/MarkerDetection false
                                            --Marker/Dictionary 16
                                            --Marker/Length 0.25
                                            --RGBD/StartAtOrigin false"/>
    
  <group ns="rtabmap">
    <!-- Odometry -->
    <node name="cam_odometry" pkg="rtabmap_odom" type="rgbd_odometry" output="screen" respawn="true">
      <remap from="rgb/image"       to="/camera/color/image_raw"/>
      <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      
      <param name="publish_null_when_lost" value="false"/>
      <param name="Odom/FilteringStrategy" type="string" value="1"/>
      <!-- <param name="Odom/Strategy" type="string" value="5"/> -->
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
    </node>

    <!-- Visual SLAM -->
    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_custom_args)"  respawn="true">
      <param name="delete_db_on_start"   value="$(arg delete_db_on_start)"/>
      <param name="database_path"        value="$(arg database_path)"/>
      <param name="localization"         value="$(arg localization)"/>
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <!-- <param name="RGBD/CreateOccupancyGrid" type="string" value="false"/> -->
      <!-- <param name="Marker/Priors" type="string" value="100 -7.1 3.2 0.55 1.5707963 1.5707963 0" /> -->
      <param name="Vis/MinInliers" type="int" value="5"/>
      <remap from="rgb/image" to="/camera/color/image_raw"/>
      <remap from="depth/image" to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      <remap from="global_pose" to="/global_pose"/>
      <param name="ground_truth_frame_id" type="string" value="world"/>

      <remap from="tag_detections"         to="$(arg tag_topic)"/>
      <!-- <param name="ground_truth_base_frame_id" type="string" value="kinect_gt"/> -->
      <param name="landmark_linear_variance"   type="double" value="$(arg tag_linear_variance)"/>
      <param name="landmark_angular_variance"  type="double" value="$(arg tag_angular_variance)"/>
      
    </node>

    <!-- Visualisation  -->
    <node if="$(arg rtabmap_viz)" pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmap_viz" args="-d $(find rtabmap_examples)/launch/config/rgbd_gui.ini" output="screen">
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_odom_info" type="bool" value="true"/>
      <param name="queue_size" type="int" value="30"/>

      <!-- <param name="frame_id" type="string" value="kinect"/> -->

      <remap from="rgb/image" to="/camera/color/image_raw"/>
      <remap from="depth/image" to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
    </node>

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>


  </group>        
        <!-- <param name="Optimizer/Strategy"          type="string" value="1"/> -->
        <!-- <param name="Marker/Priors" type="string" value="100 -7.1 3.2 0.55 1.5707963 1.5707963 0" /> -->
        <!-- <arg name="landmark_angular_variance"     type="double" value="9999"/> -->

    <!-- <node pkg="rtabmap" type="rgbd_odometry" name="rgbd_odometry">
        <param name="publish_null_when_lost" value="false"/>
        <param name="Odom/ResetCountdown" value="1"/>
    </node> -->

    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth"   value="$(arg depth_mode)"/>
        <arg name="unite_imu_method" value="$(arg unite_imu_method)"/>
        <arg name="enable_gyro"   value="true"/>
        <arg name="enable_accel"  value="true"/>
        <arg name="enable_infra1" value="true"/>
        <arg name="enable_infra2" value="true"/>
        <arg name="gyro_fps"      value="200"/>
        <arg name="accel_fps"     value="250"/>
        <arg name="enable_sync"   value="true"/>
    </include> -->

</launch>
